.title {
  padding: 20px;
  color: #abc;
  border-bottom: dotted 2px #ccc; /* px */
}

.content {
  padding: 25px;

  pre {
    padding: 15px;
    font-size: 37px;
    white-space: pre-wrap;
    color: #666;
    background: #f7f7f7;
  }
}
